footer {
    display: flex !important;
    justify-content: space-between;
    height: 50px;
    background-color: getColour(secondary-background-color);

    div {
        margin: 20px;
        font-family: $font-primary;
        color: getColour(nav-link-color);
        font-size: 12px;
    }

    @media (max-width: $width-small) {
        align-items: center;
        flex-direction: column;
        height: fit-content;
        padding: 20px;

        div {
            margin: 5px;
        }
    }
}