.bg-light {
    background: getColour(secondary-background-color) !important;
}

.navbar-toggler,
.navbar-light {
    border: none !important;
    color: getColour(h1-heading-color) !important;
}

.nav-link {
    color: getColour(nav-link-color) !important;
    font-family: $font-links;
    text-transform: uppercase;
    font-size: 15px;
    ;
}

.nav__link--active {
    color: getColour(pink) !important;
}

.navbar-brand {
    font-family: $font-primary !important;
    font-size: 36px !important;
}